# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

!*.yaml
!.gitignore
!*.md

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml


######################
*.log*
*.db*
google_calendars.yaml
*.crt
*.csr
*.key
*.db-journal
*.pid
tts
html5_push_registrations.conf
plex.conf
deps
lib
www
home-assistant.log
ozw_log.txt
custom_components/