### HomeAssistant ###
# Files with personal details
*.crt
*.bak
*.csr
*.key
*.db
*.db.*
*.sqlite
.google.token
.uuid
.google_maps_location_sharing.cookies.som2tokmynam_gmail_com
google.json
icloud/
google_calendars.yaml
home-assistant_v2.db-*
html5_push_registrations.conf
ip_bans.yaml  
known_devices.yaml  
plex.conf  
pyozw.sqlite
secrets.yaml
flows_cred.json
.flows_cred.json.backup
espresense/config.yaml

### FOLDERS  to exclude###
node-red/*
!node-red/flows.json
!node-red/README.md
!node-red/flows
!node-red/subflows
.storage/*
!.storage/lovelace*
!.storage/README.md
zigbee2mqtt/
# Temporary files
*.db-journal
*.pid
tts

# automatically downloaded dependencies
deps
lib
www

# Log files
*.log
*.logs
*.log.*
*.logs.*
home-assistant.log
ozw_log.txt

# Development files
custom_components/
